<h1>TOPS Report</h1>
<p>Today is <%= Date.today %><p>
<p><%= "This is an individual TOPS report for " + @child.first_name %><p>

<%# kids = Hash.new() %>

<%= form_tag("tops_form", :method => "post") do %>

  <% @questions.each do |q| %>

    <%# checkbox for this question_id %>
    <%= check_box_tag :question_id, q.id %>
    
    <%# label for this checkbox (question description) %>
    <%= label_tag(:question_id, q.description) %>
    
    <%# radio buttons for qualifier %>
    <%# @qualifiers = TopsQualifier.find(:all q.qualifier_type_id) %>
    <% @qualifiers = TopsQualifier.find(:all, :conditions => { :type_id => q.qualifier_type_id}) %>
    
    <% @qualifiers.each do |qual| %>
      <% if(qual.value_name == '') %>
        <% @label_text = "none" %>
        <% @checked = true %>
      <% else %>
        <% @label_text = qual.value_name %>
        <% @checked = false %>
      <% end %>
      
      <br />
      <%= radio_button_tag q.id, qual.value_id, @checked %>
      <%= label_tag q.id, @label_text %>
    <% end %>
    
    <%# textbox for note %>
    <br />
	<%= label_tag :description, "Note" %><br />
    <%= text_area_tag :description %>

    
    <br />
    <br />
  <% end %>


<br />
  <%= submit_tag("Save Report") %>
<% end %>
