<%= form_for(@child) do |f| %>
  <% if @child.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@child.errors.count, "error") %> prohibited this child from being saved:</h2>

      <ul>
      <% @child.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :mom_first %><br />
    <%= f.text_field :mom_first %>
  </div>
  <div class="field">
    <%= f.label :dad_first %><br />
    <%= f.text_field :dad_first %>
  </div>
  <div class="field">
    <%= f.label :email_mom %><br />
    <%= f.text_field :email_mom %>
  </div>
  <div class="field">
    <%= f.label :email_dad %><br />
    <%= f.text_field :email_dad %>
  </div>
  <div class="field">
    <%= f.label :icec_start %><br />
    <%= f.datetime_select :icec_start %>
  </div>
  <div class="field">
    <%= f.label :icec_end %><br />
    <%= f.datetime_select :icec_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
