<h1>Listing email_messages</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Date</th>
    <th>Child ID</th>
    <th>Child</th>
    <th>Daily note</th>
    <th>Child daily</th>
    <th>To address</th>
    <th>Sent time</th>
    <th></th>
    <th></th>
    <th></th>
    <th>Email</th>
  </tr>

<% @email_messages.each do |email_message| %>
  <tr>
    <td><%= email_message.id %></td>
    <td><%= email_message.date %></td>
    <td><%= email_message.child_id %></td>
    <% if(email_message.child_id != nil) %>
      <% @child = Child.find(email_message.child_id) %>
      <td><%= @child.first_name %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= email_message.daily_note_id %></td>
    <td><%= email_message.child_daily_id %></td>
    <td><%= email_message.to_address %></td>
    <td><%= email_message.sent_time %></td>
    <td><%= link_to 'Show', email_message %></td>
    <td><%= link_to 'Edit', edit_email_message_path(email_message) %></td>
    <td><%= link_to 'Destroy', email_message, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= link_to 'View Email', preview_email_email_message_path(email_message) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email message', new_email_message_path %>
<%= link_to 'Generate Email messages', generate_emails_path %>
