<%= semantic_form_for @project do |f| %>
  <% if @project.errors.any? %>
    <h2><%= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:" %></h2>
    <ul>
    	<% @project.errors.full_messages.each do |msg| %>
    	<li>
    		<%= msg %>
    	</li>
    	<% end %>
    </ul>
  <% end %>
  
  <% f.inputs do %>
    <%= f.input :name %>
    <%= f.input :description %>
    <h3> Tasks </h3>
    
    <%= f.semantic_fields_for :tasks do |task| %>
   
      <%= render 'task_fields', :f => task %>    
      
    <% end %>
       
    <div class="links">
      <%= link_to_add_association 'add task', f, :tasks %>
    </div>     
    
  <h3> End of junk </h3>
  <% end %>
<% end %>