<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @tops_qualifier.type_id %>
</p>

<p>
  <b>Value:</b>
  <%= @tops_qualifier.value_id %>
</p>

<p>
  <b>Value name:</b>
  <%= @tops_qualifier.value_name %>
</p>


<%= link_to 'Edit', edit_tops_qualifier_path(@tops_qualifier) %> |
<%= link_to 'Back', tops_qualifiers_path %>
