<h1>Listing child_dailies</h1>

<table>
  <tr>
  	<th>ID</th>
    <th>Child ID</th>
    <th>Child Name</th>
    <th>Date</th>
    <th>Individual message</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>

<% @child_dailies.each do |child_daily| %>
  <tr>
    <td><%= child_daily.id %></td>
    <td><%= child_daily.child_id %></td>
    <% if(child_daily.child_id != nil) %>
      <% @child = @children.find(child_daily.child_id) %>
      <td><%= @child.first_name %></td>
    <% else %>
      <td></td>
    <% end %>
    <td><%= child_daily.date %></td>
    <td><%= child_daily.individual_message %></td>
    <td><%= link_to 'Show', child_daily %></td>
    <td><%= link_to 'Edit', edit_child_daily_path(child_daily) %></td>
    <td><%= link_to 'Destroy', child_daily, confirm: 'Are you sure?', method: :delete %></td>
    <!-- <td><%# link_to 'TOPS Form', tops_form_tops_form_path(tops_form) %></td> -->
    <td><%= link_to 'TOPS Form', child_daily_tops_forms_path(child_daily) %></td>
    <td><%# link_to 'Show TOPS Form', child_daily_tops_form_path(child_daily) %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Child daily', new_child_daily_path %>
