<p id="notice"><%= notice %></p>

<p>
  <b>Child:</b>
  <%= @child_daily.child_id %>
</p>

<p>
  <b>Date:</b>
  <%= @child_daily.date %>
</p>

<p>
  <b>Individual message:</b>
  <%= @child_daily.individual_message %>
</p>

<p>
  <b>Tops Form Id:</b>
  <%= @child_daily.tops_form_id %>
</p>


<%= link_to 'Edit', edit_child_daily_path(@child_daily) %> |
<%= link_to 'Back', child_dailies_path %>
