<h1>TOPS Report</h1>
<p>Today is <%= Date.today %><p>
	
<p> Today, <%= @child_daily.child.first_name.capitalize %>: </p> 

<br />

<%= form_for(@child_daily) do |f| %>

	<table>
	  <tr>
	    <th>Question ID</th>
	    <th></th>
	    <th>Question Description</th>
	    <th>Qualifier Type ID</th>
	    <th>Note</th>
	  </tr>
	<% @child_daily.tops_questions.each do |tq| %>
	  <tr>
	  	<td>
	      <%= tq.id %>
	    </td>
	    <td>
	      <%= f.fields_for :tops_form do |tf_fields| %>
	        <%= tf_fields.check_box :checked %>
	      <% end %>
	    </td>
	    <td>
	      <%= tq.description %>
	    </td>
	    <td>
	      <%= f.fields_for :tops_form do |tf_fields| %>
	        <%= tq.qualifier_type_id %>
	        <%# debug tq.tops_qualifier %>
	        <%= tf_fields.radio_button :qualifier_value_id, "with" %> with assistance 
	        <%= tf_fields.radio_button :qualifier_value_id, "without" %> without assistance
	      <% end %>
	      <%# tq.qualifier_type_id %>
	    </td>
	    <td>
	      <%= f.fields_for :tops_form do |builder| %>
	        <%= builder.text_field :note %>
	      <% end %>
	    </td>
	    
	    
	    
	  
	  
	  </tr>
	<% end %>
	</table>

	<br />
	<%= f.submit %>


<% end %>

<%= debug @tops_forms %>
<%
=begin
%>
<%= form_for(@tops_form) do |f| %>
  
  <%= f.fields_for @child do |c| %>
    <%= c.label :id %><br />
    <p><%= c.check_box :id %></p>
  <% end %>
  
  <%= f.fields_for @child_daily do |q| %>
    <%= q.label :id %><br />
    <p><%= q.number_field :id %></p>
  <% end %>
  
  <% @questions.each do |q| %>
    <%# debug q %>
    <%= f.fields_for q do |x| %>
      <p><%= x.label q.id %>
      <%= x.check_box :id %></p>
    <% end %>
  
  <% end %>
  
  
<br />
  <%= f.submit %>
<% end %>






<div class="field">
    <%= f.check_box :question_id %>
  </div>
<%
=end
%>
